@font-face {
    font-family: syber;
    src: url(/Melete-Regular.otf) format("woff");
}
.welcome-portfolio{
    color: white;
    font-size: 50px;
    font-family: syber;
    position: absolute;
    left: 300px;
}

.welcome-div-class{
    background-color: black;
    position: relative;
}*{
    margin: 0px;
    padding: 0px;
}
.introduce-mine{
    background-color: black;
    font-family: syber;
    color: white;
    font-size: 25px;
    text-align: center;
}