@font-face {
    font-family: syber;
    src: url(/Melete-Regular.otf) format("woff");
}

body{
    margin: 0px;
    padding: 0px;
}
html{
    margin: 0px;
    padding: 0px;
}

/* welcome text */

.welcome-div-class{
    background-color: black;
    position: relative;
    margin: 0px;
}

#welcome-portfolio{
    color: white;
    font-size: 50px;
    font-family: syber;
    position: absolute;
    left: 300px;
}

#first-hello-div{
    margin: 0px;
}
#first-hello{
    background-color: black;
    font-family: syber;
    color: white;
    font-size: 50px;
    text-align: center;
    margin: 0px;
}

.first-introduce-maincontent{
    background-color: black;
    color:white;
    font-size: 50px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top: 40px;
    font-weight: 300;
    margin: 0px;
}
.buttondiv{
    text-align: center;
    background-color: black;
    padding: 100px;
    display: flex;
}

/*///////////////////////*/

/* Skills */
#introduce-my-skills-div{
    background-color: black;
    font-family: syber;
    color: white;
    font-size: 50px;
    text-align: left;
    padding-top: 100px;
    padding-left: 100px;
    margin: 0px;
}

#first-hello-introduce{
    background-color: black;
    font-family: syber;
    color: white;
    font-size: 50px;
    text-align: center;
    margin: 0px;
    text-align: left;
}

#first-hello-ul{
    background-color: black;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: left;
    margin: 0px;
    padding-top: 30px;
    padding-left: 70px;
    font-size: 40px;
    font-weight: 300;
}
ul li{
    margin-top: 15px;
    margin-bottom: 15px;
}

#first-btn-primary{
    background-color: black;
    border-color: black;
    color: white;
    font-weight: 400;
    font-size: 60px;
    padding-bottom: 10px;
    padding-top: 10px;
}

#second-btn-primary{
    margin-left: 30px;
    background-color: black;
    border-color: black;
    color: white;
    font-weight: 400;
    font-size: 60px;
    padding-bottom: 10px;
    padding-top: 10px;
}
/* /////////////////*/